/***********************
** Foundation Styles
***********************/

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: #8b9398;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px;
}

p,
h1,
h2,
h3 {
  padding: 10px 20px;
  color: white;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

.top-margin {
  margin-top: 30px;
}

.flex-wrapper {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

a {
  color: #b0dddd;
}

/***********************
** Header and Nav Styles
***********************/

header {
  background-color: rgba(8, 26, 26, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  box-shadow: rgb(36, 36, 36) 5px 5px 15px;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

nav ul li {
  padding: 5px 10px;
}

nav ul li a {
  color: white;
  padding: 5px;
  opacity: 0.8;
}

nav ul li a:hover {
  opacity: 1;
}

.mobile-show {
  display: none;
}

#hamburger {
  display: none;
  color: white;
  padding: 20px;
  font-size: 30px;
}

#hamburger:hover {
  cursor: pointer;
}

.mobile-row {
  display: flex;
  flex-direction: row;
}

/***********************
** Main Content Styles
***********************/

#main-content {
  width: 100%;
  /* REQUIREMENT: Added 2020-04-18 - Background image */
  background: no-repeat center/cover url("img/background.png");
  overflow-y: scroll;
}

main {
  margin: 30px;
  padding: 20px 5px;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 5px;
  /* REQUIREMENT: Added 2020-04-18: Border */
  border: 0.5px solid #0d2a2a;
  box-shadow: rgba(22, 22, 22, 0.6) 10px 10px 15px;
}

.feature-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-card-link {
  display: block;
  width: 40%;
  text-decoration: none;
  margin: 20px;
}

.feature-card {
  padding: 40px 20px;
  background-color: #f9f9f9;
  max-width: 100%;
  box-shadow: rgba(22, 22, 22, 0.6) 10px 10px 15px;
  border-radius: 2px;
  opacity: 0.85;
  height: 100%;
  transition: all 0.5s linear;
}

.feature-card:hover {
  opacity: 1;
  box-shadow: rgba(36, 109, 109, 0.7) 10px 10px 15px;
  transition: all 0.5s linear;
}

.feature-card p,
.feature-card h2 {
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 25px;
}

figure {
  margin: 20px;
  width: 400px;
}

figcaption {
  background-color: rgba(20, 20, 20, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 5px;
  position: relative;
  margin-bottom: -5px;
}

figure img {
  width: 400px;
  height: auto;
}

#comparison-table {
  min-width: 500px;
  color: white;
  border-collapse: collapse;
  margin: 10px;
  background-color: rgba(20, 20, 20, 0.5);
}

/* REQUIREMENT added 2020-05-04 pseudo element */
#comparison-table tbody tr:nth-child(odd) {
  background: rgba(32, 71, 71, 0.6);
}

caption {
  background-color: rgba(32, 71, 71, 0.6);
}

h2 {
  font-size: 25px;
  color: white;
}

td,
th,
caption {
  border: 1px solid white;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

thead th,
caption h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

/* REQUIRMENT for using iframed YouTube videos */
iframe {
  margin: 10px;
  border: none;
}

pre code {
  background-color: rgba(20, 20, 20, 0.6);
  color: white;
  display: block;
  padding: 20px;
  margin: 20px;
  font-family: "Roboto Mono", monospace;
}

#disclaimer-list {
  color: white;
  margin-left: 20px;
}

#disclaimer-list li {
  list-style-type: disc;
  margin-left: 20px;
  padding: 2px;
}

.emphasize {
  font-size: 20px;
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20px;
  border: 1px dashed white;
  margin-top: 20px;
}

blockquote {
  color: white;
  font-size: 22px;
  background-color: rgba(20, 20, 20, 0.6);
  padding: 20px 20px 20px 50px;
  margin: 20px;
  border-left: 3px solid #2a7f7f;
}

.half img {
  max-width: 100%;
  height: auto;
}

.grayscale {
  filter: grayscale(0.8);
}

mark {
  background-color: #acd2d2;
  color: black;
  font-weight: bold;
  padding: 0 5px;
}

.hover-effect {
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 100%;
}

/* REQUIREMENT added 2020-05-05 - advanced CSS styling on an image */
.hover-effect:hover {
  box-shadow: rgb(3, 4, 5) -5px 5px 15px;
  bottom: 5px;
  left: 5px;
  transition: all 0.3s;
}

/***********************
** Sidebar Styles
***********************/
#sidebar {
  background-color: #133a3a;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(20, 20, 20) 2px 2px 15px;
  z-index: 0;
}

#logo {
  width: 250px;
  padding: 20px;
}

aside {
  margin: 30px 10px;
}

#sidebar ul li {
  padding: 5px;
}

#sidebar ul li a {
  text-decoration: none;
  color: white;
  list-style: none;
}

#sidebar ul li a:hover {
  color: #cae0e0;
}

#sidebar .sidebar-nav-parent {
  padding-bottom: 20px;
}

/***********************
** Footer Styles
***********************/

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#copyright {
  color: white;
  padding: 20px;
  text-align: center;
}

/***********************
** Form Styles
***********************/

form {
  max-width: 100%;
  margin: 20px;
  display: block;
}

label,
legend {
  color: white;
  font-size: 18px;
}

label,
input,
select {
  width: 30%;
  min-width: 200px;
}

label {
  padding: 10px 20px;
}

input {
  padding: 10px;
  font-size: 18px;
}

fieldset {
  margin-bottom: 20px;
  display: block;
}

fieldset div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.column-fieldset {
  display: flex;
  flex-direction: column;
}

.column-fieldset label {
  width: 100%;
  text-align: center;
}

textarea {
  margin: 20px auto;
  width: 70%;
  min-width: 500px;
  height: 200px;
  box-sizing: content-box;
  font-size: 16px;
}

select {
  box-sizing: content-box;
  font-size: 18px;
  padding: 10px;
  background-color: white;
}

input[type="submit"],
input[type="reset"] {
  margin: 10px;
  opacity: 0.8;
  border: 1px solid rgba(220, 220, 220, 0.5);
  color: white;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 1;
  cursor: pointer;
}

input[type="submit"] {
  background-color: rgba(0, 128, 0, 0.7);
}

input[type="reset"] {
  background-color: rgba(128, 0, 0, 0.7);
}

/***********************
** Form Styles
***********************/

/* REQUIREMENT added 2020-05-03 desktop media query */
@media only screen and (min-width: 1251px) {
  /* REQUIREMENT added 2020-05-03 media query 1 */
  .half {
    width: 50%;
    margin: 0;
  }
  /* REQUIREMENT added 2020-05-03 media query 2 */
  .half img {
    padding: 20px;
  }
  /* REQUIREMENT added 2020-05-03 media query 3 */
  .desktop-row {
    flex-direction: row;
  }
}

/* REQUIREMENT added 2020-05-03 tablet media query */
@media only screen and (min-width: 800px) and (max-width: 1250px) {
  /* REQUIREMENT added 2020-05-03 media query 1 */
  .feature-wrapper,
  .flex-wrapper,
  fieldset div,
  desktop-row,
  .half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* REQUIREMENT added 2020-05-03 media query 2 */
  .feature-card-link,
  figure,
  input,
  label,
  select,
  textarea,
  .half img {
    width: 90%;
  }

  /* REQUIREMENT added 2020-05-03 media query 3 */
  figure img {
    width: 100%;
  }

  #sidebar {
    width: 200px;
  }

  #logo {
    width: 100%;
  }

  .column-fieldset label {
    text-align: left;
  }

  .tablet-hide {
    display: none;
  }
}

/* REQUIREMENT added 2020-05-03 mobile media query */
@media only screen and (max-width: 799px) {
  /* REQUIREMENT added 2020-05-03 media query 1 */
  .feature-wrapper,
  .flex-wrapper,
  fieldset div,
  desktop-row,
  .half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* REQUIREMENT added 2020-05-03 media query 2 */
  .feature-card-link,
  figure,
  input,
  label,
  select,
  textarea,
  .half img {
    width: 90%;
  }

  /* REQUIREMENT added 2020-05-03 media query 3 */
  figure img {
    width: 100%;
  }

  html {
    height: auto;
  }

  body {
    flex-direction: column;
    overflow: auto;
  }

  #main-content {
    overflow-y: auto;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show,
  #hamburger {
    display: block;
  }

  .mobile-show #logo {
    height: 150px;
    width: auto;
  }

  sidebar-aside,
  sidebar-aside a {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }

  .sidebar-nav-parent {
    padding-top: 30px;
  }

  header {
    flex-direction: column;
    justify-content: start;
    height: 100%;
  }

  .mobile-row {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
  }

  header nav {
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 20px 0;
  }

  nav ul li {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding: 20px 0;
  }
}
