/***********************
** Foundation Styles
***********************/

/* html,
body {
  height: 100%;
} */

body {
  background-color: #8b9398;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px;
}

p,
h1 {
  padding: 10px 20px;
  color: #1e2428;
}

/***********************
** Header and Nav Styles
***********************/

header {
  background-color: #2b343a;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  box-shadow: rgb(93, 93, 93) 5px 5px 15px;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 5px 10px;
}

nav ul li a {
  color: white;
}

/***********************
** Main Content Styles
***********************/

#main-content {
  width: 100%;
}

main {
  padding-top: 20px;
}

.feature-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 40%;
  box-shadow: rgb(93, 93, 93) 5px 5px 15px;
}

/***********************
** Sidebar Styles
***********************/
#sidebar {
  background-color: #3e4b54;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(20, 20, 20) 2px 2px 15px;
  z-index: 0;
}

#logo {
  width: 300px;
  padding: 10px;
}

aside {
  margin: 30px 10px;
}

#sidebar ul li {
  padding: 5px;
}

#sidebar ul li a {
  text-decoration: none;
  color: white;
  list-style: none;
}

/***********************
** Footer Styles
***********************/

footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#copyright {
  color: white;
  padding: 20px;
  text-align: center;
}
